.overlay#intro-overlay
  #intro-video-container
    = video_tag 'intro_video.mp4', controls: true, id: 'intro-video'
    #dismiss-video.large-svg.hidden.invisible
      %svg#glyphicons-basic{:viewbox => "0 0 32 32", :xmlns => "http://www.w3.org/2000/svg"}
        %path#menu-close{:d => "M25.83881,23.01038a.5.5,0,0,1,0,.70715l-2.12128,2.12134a.50011.50011,0,0,1-.70709,0L16,18.82837l-7.01044,7.0105a.50011.50011,0,0,1-.70709,0L6.16119,23.71753a.5.5,0,0,1,0-.70715L13.17163,16,6.16119,8.9895a.49982.49982,0,0,1,0-.707L8.28247,6.16113a.5.5,0,0,1,.70709,0L16,13.17163l7.01044-7.0105a.5.5,0,0,1,.70709,0l2.12128,2.12134a.49982.49982,0,0,1,0,.707L18.82843,16Z", :fill => "#ffffff"}
.overlay#intro-text-overlay
  #logo-conatiner.margin-bottom-40
    #logo-spans.horizontal-center
      .margin-bottom-20
        .image#icon= image_tag('open_recordings_icon.png', width: '40px')
      #logo-text-container.intro-text-title
        %span.blue-text Welcome to
        %span#logo-health.health Health
        %span#logo-pal.pal> PAL
  .button.margin-bottom-10#watch-now= t(:watch_now)
  .button.margin-bottom-10#watch-later= t(:watch_later)
  .button#never-watch= t(:dont_ask_again)