.overlay#intro-overlay
  #intro-video-container
    = video_tag @video, controls: true, id: 'intro-video'
    #dismiss-video
      = inline_svg('close_white.svg', class: 'dismiss-video-svg')
.overlay#intro-text-overlay
  #logo-conatiner.margin-bottom-40
    #logo-spans.horizontal-center
      .margin-bottom-20
        .image#icon= image_tag('open_recordings_icon.png', width: '40px')
      #logo-text-container.intro-text-title
        %span.welcome-to Welcome to
        %span#logo-health.health Health
        %span#logo-pal.pal> PAL
  .button.margin-bottom-20#watch-now= t(:watch_now)
  .button.margin-bottom-20#watch-later= t(:watch_later)
  .button#never-watch= t(:dont_ask_again)