.center.pad-top-40
  %h2 Share recordings with others
.center.pad-top-40
  = link_to 'Add a person to share with', 'javascript:;', class: 'btn btn-primary', id: 'open-share-form' 
.row
  .col-xs-4
  .col-xs-4
    .panel.panel-default#new-share-form
      %p.bigger Enter an email address for the person you want to share with
      %p
        = bootstrap_form_tag url: shares_path do |f|
          .field= f.email_field :email, label: 'Email address'
          .field= f.email_field :email, label: 'Re-enter email address'
          .center= f.submit 'Share with this person', class: 'center btn btn-primary', id: 'new-share-submit'
  .col-xs-4
- if @shares.any?
  .center
    %h3 You are sharing your recordings with these people
  .panel.panel-default.table-responsive.margin-top-40
    %table.table.table-striped
      %thead
        %th Name
        %th Email address
      %tbody
        - @shares.each do |s|
          %tr
            %td= s.shared_with.full_name
            %td
              =s.shared_with.email
              %span.table-button= link_to 'Stop sharing with this person', 'javascript:;', class: 'btn btn-primary', id: 'opn-share-form' 
