- if @shares.any?
  .horizontal-center.margin-bottom-40
    .margin-top-40= t(:sharing_with)
    .table-container
      %table.margin-top-20
        %thead
          %tr.header-row
            %th= t(:name)
            %th= t(:email_address)
            %th
        %tbody
          - @shares.each do |s|
            %tr.table-row
              %td= s.shared_with.full_name
              %td= s.shared_with.email
              %td= link_to t(:stop_sharing), 'javascript:;', class: 'table-link revoke-share', data: {'share-id': s.id}
- else
  .horizontal-center.margin-top-40.margin-bottom-40 You are currently not sharing your recordings with anyone

.horizontal-center
  #reveal-share-form.button Share with someone new
#new-share-form-container.compressed.hidden
  .share-form.centered-form-container
    .share-header.pad-30.margin-top-20
      = t(:share_who)
    = form_tag url: shares_path do

      .form-label.invisible= t(:first_name)
      = text_field :first_name,
        nil,
        autofocus: true,
        class: 'form-input',
        placeholder: t(:first_name),
        data: {placeholder: t(:first_name)}
      .input-underscore-tight

      .form-label.invisible= t(:last_name)
      = text_field :last_name,
        nil,
        class: 'form-input',
        placeholder: t(:last_name),
        data: {placeholder: t(:last_name)}
      .input-underscore-tight

      .form-label.invisible= t(:email_address)
      = email_field :email,
        nil,
        class: 'form-input',
        placeholder: t(:email_address),
        data: {placeholder: t(:email)}
      .input-underscore-tight

      .form-label.invisible= t(:phone_number)
      = text_field :phone_number,
        nil,
        class: 'form-input phone-number',
        placeholder: t(:phone_number),
        data: {placeholder: t(:phone_number)}
      .input-underscore

      = submit_tag 'Share with this person', class: 'button', id: 'new-share-submit'