.centered-form-container
  .form-title Edit Login Information
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    .form-field-container
      .form-label Current password (required)
      = f.password_field :current_password, autofocus: true, autocomplete: 'off', size: 30, class: 'form-input'
    .form-field-container
      .form-label Email
      = f.email_field :email, class: 'form-input'
      
    -# - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    -#   %div
    -#     Currently waiting confirmation for: #{resource.unconfirmed_email}

    .form-field-container
      .form-label New password
      = f.password_field :password, autocomplete: 'off', class: 'form-input'
    .form-field-container
      .form-label New password confirmation
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-input'
    .actions.text-center.pad-top-20
      = f.submit 'Update', class: 'button'
      %div
        = link_to 'Back', :back, class: 'text-link'
