#admin-index
  - if current_user.org
    - current_email_address = current_user.org.contact_email_address
    #contact-email-address.margin-top-20.margin-bottom-20
      Contact:
      #contact-email-address-display= current_email_address
      #open-email-address-editor= inline_svg('edit.svg', class: 'contact-email-svg')
      #contact-email-address-editor.invisible{'data-org-id': current_user.org.id}
        %span= email_field_tag('contact_email_address', current_email_address, autofocus: true, placeholder: current_email_address, id: 'contact-email-address-value')
        %span#update-contact-email-address= inline_svg('check.svg', class: 'contact-email-svg')
        %span#cancel-edit-contact-email-address= inline_svg('x.svg', class: 'contact-email-svg')
  #buttons-container
    .admin-button-container= button_to 'Invite New User by Email', new_user_invitation_path, class: 'admin-button', method: :get
    .admin-button-container= button_to 'Create and Switch to New User Now', new_registration_path, class: 'admin-button', method: :get
    .admin-button-container= button_to 'Create Caregiver Account', new_caregiver_path, class: 'admin-button', method: :get
    .admin-button-container= button_to 'Switch to Existing User', switch_user_select_path, class: 'admin-button', method: :get
    - if current_user.root?
      .admin-button-container= button_to 'Create New Organization', new_org_path, class: 'admin-button', method: :get
  .table-container
    %table#user-table.tablesorter-custom
      %thead
        %tr
          - if current_user.root?
            %th Org
          %th Name
          %th Email
          %th Logins
          %th Last Login
          %th Recordings (number of clicks on play)
      %tbody
        - current_user.viewable_users.each do |user|
          %tr.table-row.hidden
          - is_admin = user.privileged?
          %tr{'data-is-admin': is_admin, class: "table-row #{is_admin ? 'hidden' : ''}"}
            - if current_user.root?
              %td= user.org&.name
            %td= user.full_name
            %td= user.email
            %td= user.sign_in_count
            %td= format_date_time(user.current_sign_in_at || user.last_sign_in_at)
            %td
              - if user.recordings.any?
                - user.recordings.order(created_at: :desc).each do |recording|
                  .recording{'data-recording-id': recording.id}
                    %span= "#{format_date_time(recording.created_at)}"
                    %span &nbsp;
                    %span= "(#{recording.play_clicks.count})"
