#admin-index.pad-30
  .table-container
    #buttons-container
      .admin-button= button_to 'Invite New User by Email', new_user_invitation_path, class: 'button', method: :get
      .admin-button= button_to 'Create and Switch to New User Now', new_registration_path, class: 'button', method: :get
      .admin-button= button_to 'Create Caregiver Account', new_caregiver_path, class: 'button', method: :get
      .admin-button= button_to 'Switch to Existing User', switch_user_select_path, class: 'button', method: :get
      - if current_user.root?
        .admin-button= button_to 'Create New Organization', new_org_path, class: 'button', method: :get
    - if current_user.org
      - current_email_address = current_user.org.contact_email_address
      #contact-email-address.margin-top-20.margin-bottom-20
        Contact email address:
        #contact-email-address-display= current_email_address
        #open-email-address-editor= inline_svg('edit.svg', class: 'contact-email-svg')
        #contact-email-address-editor.invisible{'data-org-id': current_user.org.id}
          %span= email_field_tag('contact_email_address', current_email_address, autofocus: true, placeholder: current_email_address, id: 'contact-email-address-value')
          %span#update-contact-email-address= inline_svg('check.svg', class: 'contact-email-svg')
          %span#cancel-edit-contact-email-address= inline_svg('x.svg', class: 'contact-email-svg')
    %table#user-table
      %thead
        %tr
          - if current_user.root?
            %th Org
          %th Email
          %th Name
          %th Role
          %th Recordings
          %th Login count
          %th Last Login
          %th Login enabled
          %th Recording enabled
      %tbody
        - current_user.viewable_users.each do |user|
          %tr.table-row
            - if current_user.root?
              %td= user.org&.name
            %td= user.email
            %td= user.full_name
            %td= user.role.capitalize
            %td= user.recordings.any? ? user.recordings.length : 0
            %td= user.sign_in_count
            %td= format_date_time(user.current_sign_in_at || user.last_sign_in_at)
            - if current_user == user
              %td
            - else
              - link_text = user.active ? 'Yes' : 'No'
              %td= link_to link_text, toggle_active_path(user.id), class: 'table-link'
            - link_text = user.can_record ? 'Yes' : 'No'
            %td= link_to link_text, toggle_can_record_path(user.id), class: 'table-link'
