.overlay.hidden#intro-overlay
  .overlay-video.full-center
    = video_tag 'intro_video.mp4', controls: true, id: 'admin-intro-video', class: 'hidden'
    = video_tag 'intro_video_no_tags.mp4', controls: true, id: 'admin-intro-video-no-tags', class: 'hidden'
    #dismiss-video.large-svg.hidden
      %svg#glyphicons-basic{:viewbox => "0 0 32 32", :xmlns => "http://www.w3.org/2000/svg"}
        %path#menu-close{:d => "M25.83881,23.01038a.5.5,0,0,1,0,.70715l-2.12128,2.12134a.50011.50011,0,0,1-.70709,0L16,18.82837l-7.01044,7.0105a.50011.50011,0,0,1-.70709,0L6.16119,23.71753a.5.5,0,0,1,0-.70715L13.17163,16,6.16119,8.9895a.49982.49982,0,0,1,0-.707L8.28247,6.16113a.5.5,0,0,1,.70709,0L16,13.17163l7.01044-7.0105a.5.5,0,0,1,.70709,0l2.12128,2.12134a.49982.49982,0,0,1,0,.707L18.82843,16Z", :fill => "#ffffff"}
#reload-message.hidden Select the Admin tab again to view the admin interface (PHI)
#admin-table.table-container
  %p= button_to 'Invite New User by Email', new_user_invitation_path, class: 'button', method: :get
  %p= button_to 'Create and Switch to New User Now', new_registration_path, class: 'button', method: :get
  %p= button_to 'Switch to Existing User', switch_user_select_path, class: 'button', method: :get
  %p#admin-play-intro-video.button Play intro video: Full HealthPAL
  %p#admin-play-intro-video-no-tags.button Play intro video: Player only
  %p.margin-top-40 Existing users
  %table
    %thead
      %tr
        %th User
        %th Study arm
        %th Recordings
        %th Login count
        %th Last Login
    %tbody
      - users = current_user.root? ? User.all : User.visible
      - users.order('email ASC').each do |user|
        - rand_id = rand(1000000000000)
        %tr.table-row
          %td
            %div= user.full_name + (user.privileged? ? ' (admin)' : '')
            .admin-email-address= user.email
          %td
            %div
              %input.set-can-view-tags{type: 'radio',
              id: rand_id,
              name: rand_id, 'data-user-id': user.id, 'data-new-value': 'true',
              checked: user.can_view_tags.nil? ? false : user.can_view_tags,
              disabled: user.can_view_tags_editable.nil? ? false : !user.can_view_tags_editable}
              %label{for: rand_id} Full HealthPAL
            %div
              %input.set-can-view-tags{type: 'radio',
              id: rand_id + 1,
              name: rand_id, 'data-user-id': user.id, 'data-new-value': 'false',
              checked: user.can_view_tags.nil? ? false : !user.can_view_tags,
              disabled: user.can_view_tags_editable.nil? ? false : !user.can_view_tags_editable}
              %label{for: rand_id + 1} Player only
            - if user.can_view_tags_editable == false
              .set-can-view-tags-editable.link-style{'data-user-id': user.id, 'data-new-value': 'true'} unlock
            - elsif user.can_view_tags_editable
              .set-can-view-tags-editable.link-style{'data-user-id': user.id, 'data-new-value': 'false'} lock
          %td
            - user.recordings.each do |recording|
              %div
                %span= link_to recording.created_at.strftime('%m/%d/%Y %I:%M%p'), play_path(recording.id)
                %span.red= recording.user_can_access ? '' : 'needs audit'
          %td= user.sign_in_count
          %td= format_date_time(user.current_sign_in_at || user.last_sign_in_at)
