#admin-index
  - if current_user.org
    - current_email_address = current_user.org.contact_email_address
    #contact-email-address
      Contact:
      #contact-email-address-display= current_email_address
      #open-email-address-editor= inline_svg('edit.svg', class: 'contact-email-svg')
      #contact-email-address-editor.hidden{'data-org-id': current_user.org.id}
        %span= email_field_tag('contact_email_address', current_email_address, autofocus: true, placeholder: current_email_address, id: 'contact-email-address-value')
        %span#update-contact-email-address= inline_svg('check.svg', class: 'contact-email-svg')
        %span#cancel-edit-contact-email-address= inline_svg('x.svg', class: 'contact-email-svg')
  - else 
    .margin-top-20 
  #admin-action-links
    .admin-link-container= link_to 'Invite New User by Email', new_user_invitation_path, class: 'form-link medium', method: :get
    .admin-link-container= link_to 'Create and Switch to New User Now', new_registration_path, class: 'form-link medium', method: :get
    .admin-link-container= link_to 'Create Caregiver Account', new_caregiver_path, class: 'form-link medium', method: :get
    .admin-link-container= link_to 'Switch to Existing User', switch_user_select_path, class: 'form-link medium', method: :get
    .admin-link-container= link_to 'Upload Recording', file_upload_path, class: 'form-link medium', method: :get
    - if current_user.root?
      .admin-link-container= button_to 'Create New Organization', new_org_path, class: 'form-link medium', method: :get

  #admin-table-container
    %table#user-table.tablesorter-custom
      %thead
        %tr
          - if current_user.root?
            %th Org
          %th
            Participant
            %br
            (*caregiver)
          %th Phone number
          %th REDCap ID
          %td Follow-up apppointment date
          %th
            Logins: last
            %br
            (excluding initial visit)
          %th Recording: clicks on play
      %tbody
        - current_user.viewable_users.each do |user|
          - last_login_at =  format_date_time(user.current_sign_in_at || user.last_sign_in_at)
          - is_admin = user.privileged?
          - last_login_string = user.corrected_sign_ins == 0 ? '' : ": #{last_login_at}"
          - followup_message = user.recordings.last&.followup_message
          - followup_date = followup_message ? 3.days.after(followup_message.deliver_at) : nil
          - show_followup_date = followup_date && (1.year.from_now - followup_date).to_i  > 0
          - followup_date_editable = followup_date && followup_message.delivered_at.nil? 
          %tr.table-row.hidden
          %tr{'data-is-admin': is_admin, class: "table-row #{is_admin ? 'hidden' : ''}"}
            - if current_user.root?
              %td= user.org&.name
            %td
              = "#{user.full_name}#{user.created_as_caregiver ? '*' : ''}"
              %br
              %span.italic-note=user.email
            %td= render partial: 'editable', locals: {value: user.phone_number, post_path: 'update_phone_number', user: user, input_class: 'phone-number'}
            %td= render partial: 'editable', locals: {value: user.participant&.redcap_id, post_path: 'update_redcap_id', user: user, input_class: ''}
            - if followup_date_editable
              %td= render partial: 'editable', locals: {value: show_followup_date ? format_date(followup_date) : '', post_path: 'update_followup_message', user: user, input_class: 'datepicker'}
            - elsif show_followup_date
              %td
                .margin-top-10= format_date(followup_date) 
            - else 
              %td
            %td= "#{user.corrected_sign_ins}#{last_login_string}" 
            %td
              - if user.recordings.any?
                - user.recordings.order(created_at: :desc).each do |recording|
                  .admin-recording-link{'data-recording-id': recording.id}= "#{format_date_time(recording.created_at)}: #{recording.total_clicks_on_play}"