#admin-table.table-container
  %p= button_to 'Invite New User by Email', new_user_invitation_path, class: 'button', method: :get
  %p= button_to 'Create and Switch to New User Now', new_registration_path, class: 'button', method: :get
  %p= button_to 'Create Caregiver Account', new_caregiver_path, class: 'button', method: :get
  %p= button_to 'Switch to Existing User', switch_user_select_path, class: 'button', method: :get
  %p.margin-top-40 Existing users
  %table
    %thead
      %tr
        %th User
        %th Study arm
        %th Recordings
        %th Login count
        %th Last Login
    %tbody
      - User.order('email ASC').all.each do |user|
        - rand_id = rand(1000000000000)
        %tr.table-row
          %td
            %div= user.full_name + (user.privileged? ? ' (admin)' : '')
            .admin-email-address= user.email
          %td
            %div
              %input.set-can-view-tags{type: 'radio', id: rand_id, name: rand_id, 'data-user-id': user.id, 'data-new-value': 'true', checked: user.can_view_tags.nil? ? false : user.can_view_tags, disabled: !user.can_view_tags_editable}
              %label{for: rand_id} Full HealthPAL
            %div
              %input.set-can-view-tags{type: 'radio', id: rand_id + 1, name: rand_id, 'data-user-id': user.id, 'data-new-value': 'false', checked: user.can_view_tags.nil? ? false : !user.can_view_tags, disabled: !user.can_view_tags_editable}
              %label{for: rand_id + 1} Player only
            - if !user.can_view_tags_editable
              .set-can-view-tags-editable.link-style{'data-user-id': user.id, 'data-new-value': 'true'} unlock editing
            - elsif !user.can_view_tags.nil?
              .set-can-view-tags-editable.link-style{'data-user-id': user.id, 'data-new-value': 'false'} lock editing
          %td
            - user.recordings.each do |recording|
              %div
                %span= link_to recording.created_at.strftime('%m/%d/%Y %I:%M%p'), play_path(recording.id)
                %span.red= recording.user_can_access ? '' : 'needs audit'
          %td= user.sign_in_count
          %td= format_date_time(user.current_sign_in_at || user.last_sign_in_at)
