.pad-30.horizontal-center
  #new-caregiver-form.centered-form-container
    %p.form-title
      Enter information for new caregiver account
    = form_with(url: create_caregiver_path, local: true, class: 'overflow-scroll') do |f|
      .form-label.margin-bottom-10
        Caregiver for
      - select_options = options_from_collection_for_select(@users, 'id', 'name_and_email')
      = f.select(:sharer_id, select_options, {include_blank: true}, {class: 'form-input select-css margin-bottom-10'})

      .form-label.invisible= t(:first_name)
      = f.text_field :first_name,
        class: 'form-input',
        placeholder: t(:first_name),
        data: {placeholder: t(:first_name)}
      .input-underscore-tight

      .form-label.invisible= t(:last_name)
      = f.text_field :last_name,
        class: 'form-input',
        placeholder: t(:last_name),
        data: {placeholder: t(:last_name)}
      .input-underscore-tight

      .form-label.invisible= t(:email_address)
      = f.email_field :email,
        class: 'form-input',
        placeholder: t(:email_address),
        data: {placeholder: t(:email)}
      .input-underscore-tight


      .form-label= t(:phone_number)
      = f.text_field :phone_number,
        class: 'form-input phone-number',
        placeholder: t(:phone_number)
      .input-underscore

      .margin-top-15
        = f.submit 'Create caregiver', class: 'button'

    .margin-top-15
      = button_to 'Cancel', admin_path, class: 'button', method: :get

      %div{style: 'height:200px'}
