.pad-30.horizontal-center
  #new-registration-form.centered-form-container
    %p.form-title
      Enter information for new user
    = form_for(@user, url: set_password_path) do |f|
      // timezone string will be replaced by JS onload. See user.js
      = f.hidden_field :timezone, value: 'America/New_York'
      .form-label= t(:first_name)
      = f.text_field :first_name,
        class: 'form-input',
        autofocus: true,
        placeholder: t(:first_name),
        data: {placeholder: t(:first_name)}
      .input-underscore

      .form-label= t(:last_name)
      = f.text_field :last_name,
        class: 'form-input',
        placeholder: t(:last_name),
        data: {placeholder: t(:last_name)}
      .input-underscore

      .form-label= t(:email)
      = f.email_field :email,
        class: 'form-input email-input',
        placeholder: t(:email_address),
        data: {placeholder: t(:email_address)}
      .input-underscore

      -#.form-field-container.field-centered
      -#  .form-label
      -#    Mobile phone number
      -#  = f.text_field :phone_number, class: 'form-input phone-number'

      - if current_user.root?
        .form-label Organization
        = f.collection_select(:org_id, @orgs, :id, :name, {include_blank: true}, {class: 'margin-bottom-20 select-css'})

      = f.submit 'Next', class: 'button margin-bottom-20'
      = button_to 'Cancel', admin_path, class: 'button', method: :get
