.pad-30.horizontal-center.margin-top-40
  .centered-form-container
    %p.form-title Enter a password for your account
    = form_for(@user, url: create_registration_path) do |f|
      = f.hidden_field :first_name, value: @user.first_name
      = f.hidden_field :last_name, value: @user.last_name
      = f.hidden_field :email, value: @user.email
      = f.hidden_field :phone_number, value: @user.phone_number
      = f.hidden_field :org_id, value: @user.org_id
      = f.hidden_field :timezone, value: @user.timezone
      .form-label= t(:new_user_password)
      = f.password_field :password,
        class: 'form-input password-input',
        autofocus: true,
        placeholder: t(:new_user_password),
        data: {placeholder: t(:new_user_password)}
      .input-underscore
      .margin-top-20
        - if current_user.org_name == 'VA'
          = f.submit 'Create New User', class: 'button'
        - else
          = f.submit 'Create and Switch to New User', class: 'button'
      .margin-top-20
        = button_to 'Cancel', admin_path, class: 'button', method: :get

