.centered-form-container
  = form_for(@user, url: create_registration_path) do |f|
    = f.hidden_field :first_name, value: @user.first_name
    = f.hidden_field :last_name, value: @user.last_name
    = f.hidden_field :email, value: @user.email
    = f.hidden_field :phone_number, value: @user.phone_number
    = f.hidden_field :org_id, value: @user.org_id
    = f.hidden_field :timezone, value: @user.timezone
    .form-field-container.field-centered
      .title
        Enter a password for your account
      .margin-top-20
        = f.password_field :password, label: 'Password for New User', class: 'form-input'
    .form-field-container.field-centered
      .margin-top-20
        = f.submit 'Create and Switch to New User', class: 'button'
  .form-field-container.field-centered
    .margin-top-20
      = button_to 'Cancel', admin_path, class: 'button', method: :get

