.form-group.row.pad-top-50
  .col-md-4.col-md-offset-4
    = form_for(@user, url: create_registration_path) do |f|
      = f.hidden_field :email, value: @user.email
      = f.hidden_field :first_name, value: @user.first_name
      = f.hidden_field :last_name, value: @user.last_name
      = f.password_field :password, label: 'Password for New User'
      = f.submit 'Create and Switch to New User', class: 'btn btn-primary'
      = link_to 'Cancel', root_path, class: 'btn btn-primary'

