.recording-date-item.log(data-user-id="#{user_id}" data-item-type="#{count}")
    - if count == 0
        .recording-year.log(data-user-id="#{user_id}" data-recording-year="#{r_array[0][0].created_at.year}" data-recording-date="#{r_array[0][0].created_at}")
            = inline_svg('play.svg', class: 'expand-svg')
            .year-title= r_array[0][0].created_at.strftime("%Y Appointments")
    - if count == 1
        .recording-month.log(data-user-id="#{user_id}" data-recording-year="#{r_month[0].created_at.year}" data-recording-month="#{r_month[0].created_at.month}")
            = inline_svg('play.svg', class: 'expand-svg')
            .month-title= r_month[0].created_at.strftime("%B Appointments")
    - if count == 2
        .recording-list-item.log(id="select-recording-#{recording.id}" data-recording-id="#{user_id}" data-user-id="#{recording.user_id}" data-recording-year="#{recording.created_at.year}" data-recording-month="#{recording.created_at.month}")
            .recording-description
                .recording-title= recording.title
                - if recording.provider
                    .recording-provider.italic-note= recording.provider
            .recording-date-info
                .recording-date= minimal_date(recording.created_at)
                .recoording-days-ago.italic-note= days_ago(recording.created_at)
-# .recording-list-item.log(id="select-recording-#{recording.id}" data-recording-id="#{recording.id}" data-user-id="#{recording.user_id}" data-recording-year="#{recording.created_at.year}" data-recording-month="#{recording.created_at.month}")
- if count == 0
    - r_array.each do |r_month|
        = render 'recording_date_item', user_id: user_id, r_month: r_month, recording: r_month[0], count: 1
- if count == 1
    - r_month.each do |recording|
        = render 'recording_date_item', user_id: user_id, recording: recording, count: 2