#video-container
#play-view{'data-initial-recording-id': @recording&.id}
  #metadata-overlay.overlay.invisible
    .modal-form-container
      %form#metadata-form
        .form-title.margin-bottom-10= t(:edit_recording_details)
        .form-label= t(:recording_name)
        = text_field_tag('edit-recording-title', nil, value: @recording&.title, placeholder: t(:recording_name), class: 'form-input', data: {placeholder: t(:recording_name)})
        .input-underscore
        .form-label= t(:doctors_name)
        = text_field_tag('edit-recording-provider', nil, value: @recording&.provider, placeholder: t(:doctors_name), class: 'form-input', data: {placeholder: t(:doctors_name)})
        .input-underscore
        .save-cancel-buttons
          #metadata-cancel.cancel.modal-cancel= t(:cancel)
          #metadata-save.save.modal-save.enter-submit= t(:save)
  #note-overlay.overlay.invisible
    .modal-form-container
      %form#note-form
        #note-form-title.form-title.margin-bottom-10
        = text_area_tag('edit-note-text', nil, value: nil, placeholder: t(:enter_note_here), class: 'form-input-area')
        .save-cancel-buttons
          #note-cancel.cancel.modal-cancel= t(:cancel)
          #note-save.save.modal-save= t(:save)
  #left

    - if @recordings_by_user.any?
      #search-and-select
        #select-header= t(:select_a_recording)
        #select
          - @recordings_by_user.each do |user_and_recordings|
            - user = user_and_recordings[:user]
            - if user.first_name && user.last_name
              - user_name = "#{user.first_name.titlecase} #{user&.last_name.titlecase}"
            - elsif user.email
              - user_name = user.email
            - else
              - user_name = 'No user name found!'
            - unless user == current_user && @recordings_by_user.length == 1
              .recording-owner= user_name
            - user_and_recordings[:recordings].each do |recording|
              = render 'recording_list_item', recording: recording
    -else
      #no-recordings
        .pad-30= t(:recordings_appear_here)
        =link_to t(:make_recording_now), record_path, class: 'button'
  #right
    #player-container
      #header
        #header-left
          #recording-title
          #metadata-edit-icon
            #recording-provider
            = inline_svg('edit.svg', class: 'edit-svg')
        #header-right
          #recording-date
          #recording-days-ago

      #notes-header.hidden= t(:your_notes)
      #notes
        #no-notes= t(:notes_appear_here)
        #notes-container.hidden

      #player-border
      #player
        #create-note
          = inline_svg('plus.svg', class: 'small-svg')
          %span#create-note-text.text-with-svg= t(:new_note_at)
          %span#create-note-time.text-with-svg 00:00
        #timeline-container
          #timeline.track
          #progress-bar
          #playhead.track
        #time
          %span#current-time
            00:00
          %span#duration
            00:00
        #player-button-container
          #rewind-button.player-button-left.track
            = inline_svg('skip_to_start.svg', class: 'player-button-svg-left')
            .player-button-label-left= t(:rewind)
          #back-button.player-button.track
            = inline_svg('step_back.svg', class: 'player-button-svg')
            .player-button-label= t(:back_10_sec )
          #play-pause-button.player-button.track
            = inline_svg('play.svg', id: 'play-glyph', class: 'player-button-svg')
            = inline_svg('pause.svg', id: 'pause-glyph', class: 'player-button-svg hidden')
            #play-label.player-button-label= t(:play)
            #pause-label.player-button-label.hidden= t(:pause)
          #forward-button.player-button.track
            = inline_svg('step_forward.svg', class: 'player-button-svg')
            .player-button-label= t(:forward_10_sec)
          #mute-button.player-button-right.track
            = inline_svg('volume_off.svg', id: 'mute-glyph', class: 'player-button-svg-right')
            = inline_svg('volume_max.svg', id: 'unmute-glyph', class: 'player-button-svg-right hidden')
            #mute-label.player-button-label-right= t(:mute)
            #unmute-label.player-button-label-right.hidden= t(:unmute)
      #toolbar
        #show-select
          = inline_svg('arrow-left.svg', class: 'small-svg')
          %span.text-with-svg= t(:select_a_recording)
