%h4
  %p Recordings for
  %p= select_tag :id, options_for_select(@visible_users.map {|u| [u.email, u.id]}, @user.id),
    id: 'recordings-user-select',
    class: 'form-control max-width-400'

.row.pad-top-40
  .col-md-12
    .panel.panel-default.table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th.bigger Created
            %th.bigger Duration
            %th.bigger Provider
        %tbody
          - @recordings.all.order(created_at: :desc).each do |recording|
            %tr.recording-select{data: {href: play_path(recording.id)}}
              %td.bigger= link_to format_date(recording.created_at), play_path(recording.id)
              %td.bigger= recording.duration ? mm_ss(recording.duration) : nil
              - if recording.provider
                %td.bigger= recording.provider
              - else
                %td.bigger.lighter= link_to '<click to add a provider name>', '#', id: 'provider', class: 'edit_provider', data: {resource: 'recording', url: "/recordings/#{recording.id}", original_title: ''}
