#playview
  #search-and-select
    #search
      = render 'search'
    #select
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
      = render 'recording_list_item'
  #playback
    #notes
      Notes
    #transport
      Transport