#playview
  #selection
    = render 'search_and_sort'
    = render 'recording_list_item'
    = render 'recording_list_item'
    = render 'recording_list_item'
    = render 'recording_list_item'
  #playback
    Playback area