#playview
  = render 'search_and_sort'
  #select
    = render 'recording_list_item'
    = render 'recording_list_item'
    = render 'recording_list_item'
    = render 'recording_list_item'
  #playback
    Playback area