-# = format_date_time(@recording.created_at)
-# %audio{controls: 'controls'}

%h3= "#{@recording.user.email}, recorded #{format_date_time @recording.created_at}"
%div#recording-container{data: {file: @recording.id}}
%table.table.table
  %thead
    %tr
      %th mm:ss
      %th Tags
    %tbody
      - @recording.tags&.group_by(&:utterance).each do |utag|
        %tr.segment{data: {time: utag[0].begins_at}}
          %td
            = link_to (mm_ss utag[0].begins_at), 'javascript:;', class: "seek"
          %td
            - utag[1].each do |tag|
              #{tag.tag_type&.label}
