#play-view
  #recording-header
    - title = format_date @recording.created_at
    - title += " Visit with #{@recording.provider}" if @recording.provider
    %h3= @recording.user.full_name
    %h4= title
    - unless @recording.user_note&.text&.first.present?
      .editable-badge
        %span.glyphicon.glyphicon-plus
        Add a note for this visit
    .editable-header Notes for this visit.
    .editable-container
      = best_in_place(@user_note,
        :text,
        as: :textarea,
        place_holder: nil,
        ok_button: 'Save',
        ok_button_class: 'btn btn-primary small-button',
        cancel_button: 'Cancel',
        cancel_button_class: 'btn btn-info small-button',
        )

  #player-controls
    #recording-container{'data-file' => @recording.id}
      = render 'player'

  #player-tag-table
    %table.table#tag-table
      %thead
        %tr
          %th Start time
          %th Tags
          %th Links to more information
        %tbody
          - @tags.each do |utag|
            %tr.segment{data: {starttime: utag[0].begins_at, endtime: utag[0].ends_at}}
              %td
                = mm_ss(utag[0].begins_at)
              %td
                - utag[1].each do |tag|
                  %div.tag{class: 'oralfilter-' + tag.tag_type&.label[0..2].downcase} #{tag.tag_type&.label}
              %td.do-not-seek
                -# TODO: Make this real and remove mock content
                - links = @links.select{|l| l[3] == utag[0].id}
                - links.each do |l|
                  = link_to l[1] + (l == links.last ? '' : ','), l[2], target: '_blank'

  #player-sidebar
    - unless Rails.application.config.research_mode
      #tag-filters
        #filter-title Filters
        - (@tags.flat_map{|x| x[1].map {|y| y.tag_type.label}}).sort.uniq.each do |tag_label|
          -# TODO: Clean up with proper CSS
          - filter_html = "<input class='badgebox' id='Diagnosis' type='checkbox'><span class='badge'>&check;</span></input>&nbsp;&nbsp;&nbsp;#{tag_label}".html_safe
          =link_to filter_html, 'javascript:;', class: 'filter wide-filter oralfilter-' + tag_label[0..2].downcase + ' tag-toggle btn-tag btn', data: {tnum: tag_label}
        %p
          %a#clear-filters Clear Filters
        %p
          %a#filter-help-link What are these buttons for?
        #filter-help
          = render partial: 'filter_help'
