= audio_tag(@recording.tmp_file_name,
  id: 'audio-element',
  type: 'audio/flac',
  'data-recording-id': @recording.id,
  controls: false)

#play-view


  #head
    - title = format_date @recording.created_at
    - title += " Visit with #{@recording.provider}" if @recording.provider
    %h3= @recording.user.full_name
    %h4= title

  #player
    #controls-container
      #timeline
        #progress-bar
        #playhead
        #time
          #current-time
            00:00
          #duration
            00:00
      #buttons-container
        #rewind-button.player-button
          .centered-glyph
            %svg#rewind-glyph.svg{:viewbox => '0 0 32 32', :xmlns => 'http://www.w3.org/2000/svg'}
              %path#skip-to-start.svg-path{:d => 'M27.99933,9.46185V22.53821a.8.8,0,0,1-1.2312.67383L16.55219,16.67383a.8.8,0,0,1,0-1.34766L26.76813,8.788A.8.8,0,0,1,27.99933,9.46185ZM14.76813,8.788,4.55219,15.32617a.8.8,0,0,0,0,1.34766L14.76813,23.212a.8.8,0,0,0,1.2312-.67383V9.46185A.8.8,0,0,0,14.76813,8.788ZM3,8H2A1,1,0,0,0,1,9V23a1,1,0,0,0,1,1H3a1,1,0,0,0,1-1V9A1,1,0,0,0,3,8Z'}
          %span.button-label Rewind

        #back-button.player-button
          .centered-glyph
            %svg#glyphicons-basic.svg{:viewbox => "0 0 32 32", :xmlns => "http://www.w3.org/2000/svg"}
              %path#step-back{:d => "M28,21.5V23a1,1,0,0,1-1,1H24a1,1,0,0,1-1-1V21.5A4.5,4.5,0,0,0,18.5,17H13v2.07935a.9999.9999,0,0,1-1.57349.81909l-6.54187-4.5791a1.0002,1.0002,0,0,1,0-1.63868l6.54187-4.57934A1.00006,1.00006,0,0,1,13,9.92065V12h5.5A9.50008,9.50008,0,0,1,28,21.5Z"}
          %span.button-label Back

        #play-pause-button.player-button
          .centered-glyph
            %svg#pause-glyph.hidden.svg{:viewbox => "0 0 32 32", :xmlns => "http://www.w3.org/2000/svg"}
              %path#pause.svg-path{:d => "M14,7V25a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V7A1,1,0,0,1,8,6h5A1,1,0,0,1,14,7Zm9-1H18a1,1,0,0,0-1,1V25a1,1,0,0,0,1,1h5a1,1,0,0,0,1-1V7A1,1,0,0,0,23,6Z"}
            %svg#play-glyph.svg{:viewbox => "0 0 32 32", :xmlns => "http://www.w3.org/2000/svg"}
              %path#play.svg-path{:d => "M24.8175,16.86432,9.503,25.77667A1,1,0,0,1,8,24.91235V7.08765a1,1,0,0,1,1.503-.86432L24.8175,15.13568A1.00006,1.00006,0,0,1,24.8175,16.86432Z"}
          %span#play-label
            %span.button-label Play
          %span#pause-label.hidden
            %span.button-label Pause

        #forward-button.player-button
          .centered-glyph
            %svg#glyphicons-basic.svg{:viewbox => "0 0 32 32", :xmlns => "http://www.w3.org/2000/svg"}
              %path#step-forward{:d => "M27.11536,15.31934l-6.54187,4.5791A.9999.9999,0,0,1,19,19.07935V17H13.5A4.5,4.5,0,0,0,9,21.5V23a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V21.5A9.50008,9.50008,0,0,1,13.5,12H19V9.92065a1.00006,1.00006,0,0,1,1.57349-.81933l6.54187,4.57934A1.0002,1.0002,0,0,1,27.11536,15.31934Z"}
          %span.button-label Forward

        #mute-button.player-button
          .centered-glyph
            %svg#unmute-glyph.hidden.svg{:viewbox => "0 0 32 32", :xmlns => "http://www.w3.org/2000/svg"}
              %path#volume-off{:d => "M13.16992,22.797l2.8302-2.83014v3.39667a.8.8,0,0,1-1.29138.63128ZM23.41669,12.55048a9.0868,9.0868,0,0,1-1.38684,9.22943.98739.98739,0,0,0,.074,1.32409l.56787.56757a1.00774,1.00774,0,0,0,1.48487-.06928,11.88343,11.88343,0,0,0,1.363-13.15472Zm-1.74726,1.74719-2.701,2.701a4.0421,4.0421,0,0,1-.53906,1.2511,1.01339,1.01339,0,0,0,.10437,1.284l.57318.57373a1.00134,1.00134,0,0,0,1.5163-.10656,6.75152,6.75152,0,0,0,1.04626-5.70331ZM27.21484,2.93945a1.49946,1.49946,0,0,0-2.12109,0L16.00012,12.0329V8.63647a.8.8,0,0,0-1.29138-.63128L9.57654,12H5a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H8.03284L2.93945,25.09326a1.49984,1.49984,0,1,0,2.1211,2.1211L27.21484,5.06055A1.49946,1.49946,0,0,0,27.21484,2.93945Z"}
            %svg#mute-glyph.svg{:viewbox => "0 0 32 32", :xmlns => "http://www.w3.org/2000/svg"}
              %path#volume-max.svg-path{:d => "M16.00012,8.63646v14.727a.8.8,0,0,1-1.29139.6313L9.57654,20H5a1,1,0,0,1-1-1V13a1,1,0,0,1,1-1H9.57648l5.13225-3.99484A.8.8,0,0,1,16.00012,8.63646Zm4.623,3.36256a1.00134,1.00134,0,0,0-1.5163-.10656l-.57318.57373a1.01339,1.01339,0,0,0-.10437,1.284,4.11089,4.11089,0,0,1,0,4.49964,1.01339,1.01339,0,0,0,.10437,1.284l.57318.57373a1.00134,1.00134,0,0,0,1.5163-.10656,6.90528,6.90528,0,0,0,0-8.002Zm3.53339-3.60131a1.00774,1.00774,0,0,0-1.48487-.06928l-.56787.56757a.98739.98739,0,0,0-.074,1.32409,9.10523,9.10523,0,0,1,0,11.55982.98739.98739,0,0,0,.074,1.32409l.56787.56757a1.00774,1.00774,0,0,0,1.48487-.06928,11.90369,11.90369,0,0,0,0-15.20458Zm3.502-3.59534a.99361.99361,0,0,0-1.43884-.022l-.58722.587a.97985.97985,0,0,0-.0221,1.34619,14.10244,14.10244,0,0,1,0,18.57288.97985.97985,0,0,0,.0221,1.34619l.58722.587a.99361.99361,0,0,0,1.43884-.022,16.90076,16.90076,0,0,0,0-22.39526Z"}
          %span#mute-label
            %span.button-label Mute
          %span#unmute-label.hidden
            %span.button-label Unmute

  #tag-table.fixed-header
    %table.fixed-header
      %thead.fixed-header
        %tr#header-row.fixed-header
          %th.fixed-header.zero-width
          %th.fixed-header Start time - End time
          %th.fixed-header Topics discussed
          %th.fixed-header Links to external information
      %tbody.fixed-header
        - @recording.utterances.each do |utterance|
          - if utterance.tags.any?
            %tr.fixed-header.tag-row{'data-text': utterance.text, 'data-start-time': utterance.begins_at, 'data-end-time': utterance.ends_at }
              %th.fixed-header.zero-width
              %td.fixed-header.tag-cell.click-to-seek{'data-start-time': utterance.begins_at}= "#{mm_ss(utterance.begins_at)} - #{mm_ss(utterance.ends_at)}"
              %td.fixed-header.tag-cell.click-to-seek{'data-start-time': utterance.begins_at}
                - utterance.tags.each do |tag|
                  .tag= tag.tag_type.label
              %td.fixed-header.tag-cell
                - utterance.links.each do |link|
                  .tag= link_to(link.label, link.url)

  #sidebar
