.container.fixed
  .row
    .col-sm-12
      - title = format_date @recording.created_at
      - title += " Visit with #{@recording.provider}" if @recording.provider
      %h3= @recording.user.full_name
      %h4= title
      #recording-container{data: {file: @recording.id}}
      = render partial: "player.html.haml"
      %a#filter-help-link{'data-toggle' => 'collapse', 'data-target' => '#filter-description'}
        What are these buttons for?
      #filter-description.collapse
        Clicking these buttons will break the internet.
      #tag-filters
        - (@tags.flat_map{|x| x[1].map {|y| y.tag_type.label}}).sort.uniq.each do |tag_label|
          - filter_html = "#{tag_label}<input class='badgebox' id='Diagnosis' type='checkbox'><span class='badge'>&check;</span></input>".html_safe
          =link_to filter_html, 'javascript:;', class: 'filter oralfilter-' + tag_label[0..2].downcase + ' tag-toggle btn-tag btn', data: {tnum: tag_label}
        %br
        %a#clear-filters Clear Filters
%table.table.table.playtabletop
  %thead
    %tr
      %th Start Time
      %th Tags
    %tbody
      - @tags.each do |utag|
        %tr.segment{data: {starttime: utag[0].begins_at, endtime: utag[0].ends_at}}
          %td
            = mm_ss(utag[0].begins_at)
          %td
            - utag[1].each do |tag|
              %div.tag{class: 'oralfilter-' + tag.tag_type&.label[0..2].downcase} #{tag.tag_type&.label}
