#play-view

  #head
    - title = format_date @recording.created_at
    - title += " Visit with #{@recording.provider}" if @recording.provider
    %h3= @recording.user.full_name
    %h4= title

  #player
    #controls-container
      #timeline
        #playhead
      #buttons
        #buttons-container
          #empty
          #rewind-button.player-button
            .centered-glyph= image_tag('glyphicons-basic-172-skip-to-start.svg')
            Rewind
          #play-pause-button.player-button
            -# Use glyphicons-basic-174-pause.svg when playing
            .centered-glyph= image_tag('glyphicons-basic-175-play.svg')
            Play
          #fast-forward-button.player-button
            .centered-glyph= image_tag('glyphicons-basic-178-skip-to-end.svg')
            Forward
          #empty2
          #mute-button.player-button
            -# Use glyphicons-basic-184-volume-off.svg when playing
            .centered-glyph= image_tag('glyphicons-basic-186-volume-up.svg')
            Mute

  #table.fixed-header
    %table.fixed-header
      %thead.fixed-header
        %tr#header-row.fixed-header
          %th.fixed-header.zero-width
          %th.fixed-header Topics discussed
          %th.fixed-header Start time
          %th.fixed-header Links to external information
      %tbody.fixed-header
        - 45.times do
          %tr.fixed-header
            %th.fixed-header.zero-width
            %td.fixed-header sdflksjdflskjdflkjsdflkjsdflkjsdflkjsdflkjsdflkjsdlfkj
            %td.fixed-header sdflks
            %td.fixed-header sdflksjdfl

  #sidebar


