%div.container.fixed
  %div.row
    %div.col-sm-12
      %div
        - title = format_date @recording.created_at
        - title += " Visit with #{@recording.provider}" if @recording.provider
        %h3= title
        %h4= @recording.user.email
        %div#recording-container{data: {file: @recording.id}}
        = render partial: "player.html.haml"
        -# An alphabetized list of tags used on this recording

        - (@tags.flat_map{|x| x[1].map {|y| y.tag_type.label}}).sort.uniq.each do |tnum|

          %label.btn.btn-default{for: tnum}
            = tnum
            %input{id: tnum, type: 'checkbox', class: 'badgebox'}
              %span.badge &check;

          -# =link_to tnum, 'javascript:;', class: 'oralfilter-' + tnum[0..2].downcase + ' tag-toggle btn-tag btn', data: {tnum: tnum}

%table.table.table.playtabletop
  %thead
    %tr
      %th Start - Finish
      %th Tags
    %tbody
      - @tags.each do |utag|
        %tr.segment{data: {starttime: utag[0].begins_at, endtime: utag[0].ends_at}}
          %td
            = mm_ss(utag[0].begins_at, utag[0].ends_at)
          %td
            - utag[1].each do |tag|
              %div.tag #{tag.tag_type&.label}
