.row
  .col-xs-4
  .col-xs-4
    %h3= 'Upload audio recording'
    = form_for @recording, url: upload_path do |f|
      %p= f.select :user, @users, label: 'Upload recording for', include_blank: true
      %p= f.file_field :file, label: 'Currently only .flac files are supported'
      %p= f.submit 'Upload Now', class: 'btn btn-primary'
  .col-xs-4
