%audio#record-audio{autoplay: true}
#overlay.overlay.hidden
  #loader-container
    %h3#upload-text= t(:uploading_recording)
    #loader

#record-container.invisible
  %canvas#audio-meter

  #buttons-and-time
    #time-display
      00:00:00

    #record-buttons-container
      #record-start-button.record-button.track
        = inline_svg('mic.svg', class: 'record-svg')
        .record-button-label
          = t(:start_recording)

      #record-pause-button.record-button-hidden.track
        = inline_svg('pause.svg', class: 'record-svg')
        .record-button-label
          = t(:stop_recording)

      -# Note: Resuming is disabled because support is poor "pause" actually stops
      -# #continue-button.record-button-hidden.track
      -#   = inline_svg('mic.svg', class: 'record-svg')
      -#   .record-button-label
      -#     = t(:continue_recording)

      #save-button.record-button-hidden.track
        = inline_svg('check.svg', class: 'record-svg')
        .record-button-label
          = t(:save_recording)

      #delete-button.record-button-hidden.track
        = inline_svg('x.svg', class: 'record-svg')
        .record-button-label
          = t(:delete_recording)