%audio#record-audio{autoplay: true}
#overlay.overlay.hidden
  #loader-container
    %h3#upload-text= t(:uploading_recording)
    #loader
#record-container
  %canvas#audio-meter

  #record-buttons-container
    -# #record-start-button.record-button.track
    -#   = inline_svg('mic.svg', class: 'record-svg')
    -#   .record-button-label
    -#     = t(:start_recording)

    -# #record-pause-button.record-button.track
    -#   = inline_svg('pause.svg', class: 'record-svg')
    -#   .record-button-label
    -#     = t(:pause_recording)

    #continue-button.record-button.track
      = inline_svg('mic.svg', class: 'record-svg')
      .record-button-label
        = t(:continue_recording)

    #save-button.record-button.track
      = inline_svg('check.svg', class: 'record-svg')
      .record-button-label
        = t(:save_recording)

    #delete-button.record-button.track
      = inline_svg('x.svg', class: 'record-svg')
      .record-button-label
        = t(:delete_recording)

  #time-display
    00:00:00