%audio#record-audio{autoplay: true}

#no-media-recorder-support.overlay.invisible
  .modal-form-container
    #no-media-recorder-message
      %p.title
        It looks like your web browser doesn't support recording audio.
      %p.margin-bottom-30
        Making recordings is currently not supported on iPhones, iPads, or Mac computers using the Safari web browser.
      .button= link_to 'Take me back to My Recordings', play_path, class: 'no-decoration'

#overlay.overlay.invisible
  #loader-container
    #sized-loader-box
      #loader
    %h3#upload-text= t(:uploading_recording)

#record-container.invisible
  %canvas#audio-meter

  #buttons-and-time
    #time-display
      00:00:00

    #record-buttons-container
      #record-start-button.record-button.log
        = inline_svg('mic.svg', class: 'record-svg')
        .record-button-label
          = t(:start_recording)

      #record-pause-button.record-button-hidden.log
        = inline_svg('pause.svg', class: 'record-svg')
        .record-button-label
          = t(:pause_recording)

      #continue-button.record-button-hidden.log
        = inline_svg('mic.svg', class: 'record-svg')
        .record-button-label
          = t(:continue_recording)

      #save-button.record-button-hidden.log
        = inline_svg('check.svg', class: 'record-svg')
        .record-button-label
          = t(:save_recording)

      #delete-button.record-button-hidden.log
        = inline_svg('x.svg', class: 'record-svg')
        .record-button-label
          = t(:delete_recording)