%audio#record-audio{autoplay: true}
#overlay.overlay.invisible
  #loader-container
    #sized-loader-box
      #loader
    %h3#upload-text= t(:uploading_recording)

#record-container.invisible
  %canvas#audio-meter

  #buttons-and-time
    #time-display
      00:00:00

    #record-buttons-container
      #record-start-button.record-button.track
        = inline_svg('mic.svg', class: 'record-svg')
        .record-button-label
          = t(:start_recording)

      #record-pause-button.record-button-hidden.track
        = inline_svg('pause.svg', class: 'record-svg')
        .record-button-label
          = t(:pause_recording)

      #continue-button.record-button-hidden.track
        = inline_svg('mic.svg', class: 'record-svg')
        .record-button-label
          = t(:continue_recording)

      #save-button.record-button-hidden.track
        = inline_svg('check.svg', class: 'record-svg')
        .record-button-label
          = t(:save_recording)

      #delete-button.record-button-hidden.track
        = inline_svg('x.svg', class: 'record-svg')
        .record-button-label
          = t(:delete_recording)