.centered-form-container
  %h3
    = "Upload transcript for #{@recording.user.email}, recorded #{format_date_time @recording.created_at}"
    %br
    = "Filename: #{@recording.file_name}"
  = form_tag({action: :create_utterances}, {id: @recording.id}) do
    %p
      .form-field-container.field-centered
        %h4.form-label
          Select Acusis transcript file (txt format)
        = file_field_tag :transcript_txt_file
    %p
      .form-field-container.field-centered
        = submit_tag 'Upload now', class: 'button'
  .form-field-container.field-centered
    = button_to 'Cancel', manage_recordings_path, class: 'button', method: :get
