.table-container
  %table
    %thead
      %tr
        %th text
        %th tags
        %th links
    %tbody
      - @recording.utterances.each do |u|
        %tr.table-row
          %td{style: 'max-width: 800px;'}= u.text
          %td
            - u.tags.each do |t|
              %div= t.tag_type.label
            = form_for Tag.new do |f|
              = f.hidden_field :utterance_id, {value: u.id}
              = f.select :tag_type_id, options_from_collection_for_select(TagType.all, 'id', 'label'), include_blank: true
              = f.submit
          %td
            - u.links.each do |l|
              %div= "#{l.label} => #{l.url}"
            = form_for Link.new do |f|
              = f.hidden_field :utterance_id, {value: u.id}
              = f.text :label
              = f.text :url
              = f.submit

