.table-container
  %table
    %thead
      %tr
        %th Index
        %th text
        %th tags
        %th links
    %tbody
      - @recording.utterances.each do |u|
        %tr.table-row
          %td{style: 'font-size: 40px;'}= u.index + 1
          %td{style: 'max-width: 800px;'}= u.text
          %td
            %p
              - u.tags.each do |t|
                %div= t.tag_type.label
            = form_for Tag.new do |f|
              = f.hidden_field :utterance_id, {value: u.id}
              %div= f.select :tag_type_id, options_from_collection_for_select(TagType.all, 'id', 'label'), include_blank: true
              %div= f.submit
            = button_to 'Delete all tags', destroy_tags_path(u.id)
          %td
            %p
              - u.links.each do |l|
                %div= "#{l.label} => #{l.url}"
            = form_for Link.new do |f|
              = f.hidden_field :utterance_id, {value: u.id}
              %p
                %div= f.label :label
                %div= f.text_field :label, class: 'form-input'
              %p
                %div= f.label :url, 'URL'
                %div= f.text_field :url, class: 'form-input'
              %div= f.submit
            %div= button_to 'Delete all links', destroy_links_path(u.id)
