#login-container
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-field-container
      .form-label Email
      = f.email_field :email, autofocus: true, class: 'form-input'
    .form-field-container
      .form-label Password
      = f.password_field :password, autocomplete: "off", class: 'form-input'
    .form-field-container.full-center
      = f.submit "Log in", class: 'button'
    .form-field-container
      = link_to 'I forgot my password', new_user_password_path, class: 'blue-link'
