.centered-form-container
  %h3 Invite New User
  = form_for resource, as: resource_name, url: invitation_path(resource_name), html: {method: :post} do |f|
    - resource.class.invite_key_fields.each do |field|
      .form-label New user's email address
      .form-field-container.field-centered
        = f.text_field field, class: 'form-input'
    %p
      .form-field-container.field-centered
        .form-label Role for new user. CAUTION: Admins can access ALL recordings
        = f.select :role, {'User': 'user', 'Admin': 'admin'}, {}, {class: 'select-css'}
    - if current_user.root?
      %p
        .form-field-container.field-centered
          .form-label Role for new user. CAUTION: Admins can access ALL recordings
          = f.collection_select(:org_id, Org.all, :id, :name, {}, {class: 'form-input select-css'})
    - else
      = f.hidden_field :org_id, value: current_user.org_id
    %p.margin-top-40
      .form-field-container.field-centered
        = f.submit 'Send Invitation', class: 'button'
  .form-field-container.field-centered
    = button_to 'Cancel', admin_path, class: 'button', method: :get
