- menu_class = {horiz: 'menu-horiz', vert: 'menu-vert'}[orientation]
- menu_class_selected = "#{menu_class}-selected"
- if !current_user.regular?
    =link_to t(:user_management),
        admin_path,
    id: 'nav-user-management',
        class: "menu-item-#{position} #{current_path_in?(admin_path) ? menu_class_selected : menu_class}"
    =link_to t(:manage_recordings),
        manage_recordings_path,
        id: 'nav-manage-recordings',
        class: "menu-item-#{position} #{current_path_in?(manage_recordings_path) ? menu_class_selected : menu_class}"
    =link_to t(:analytics),
        analytics_path,
        id: 'nav-analytics',
        class: "menu-item-#{position} #{current_path_in?(analytics_path) ? menu_class_selected : menu_class}"
=link_to t(:recordings),
    my_recordings_path,
    id: 'nav-my_recordings',
    class: "menu-item-#{position} #{current_path_in?(my_recordings_path) ? menu_class_selected : menu_class}"
=link_to t(:new_recording),
    record_path,
    id: 'nav-new-recording',
    class: "menu-item-#{position} #{current_path_in?(record_path) ? menu_class_selected : menu_class}"
=link_to t(:sharing), shares_path,
    id: 'nav-share',
    class: "menu-item-#{position} #{current_path_in?([shares_path, no_shares_path]) ? menu_class_selected : menu_class}"
