-# foo is replaced by the latest commit hash upon Docker image build
-# The HTTP comment below will always show the commit being served
/ foo

#nav-container.hidden(data-privileged="#{current_user&.privileged?}")
  #logo-container
    #logo-spans
      %span.image#icon= image_tag('open_recordings_icon.png')
      #logo-text-container
        %span#logo-open Open
        %span#logo-recordings> Recordings
        %br
        %span#logo-health Health
        %span#logo-pal> PAL
        - if current_user&.privileged?
          %span#logo-admin= current_user.role.upcase
        - if current_user&.privileged? && !!current_user.org
          %span#logo-org= current_user.org.name
      %span#mobile-menu-button= inline_svg('hamburger.svg')
  - if user_signed_in?
    #menu-container
      #wide
        #menu-left
          = render 'menu_left'
        #menu-right
          = render 'menu_right'
      #long.hidden
        #menu-top
          = render 'menu_top'
        #menu-bottom
          = render 'menu_bottom'
