- missing_app_pts = @report.app_use[:missing_app_pts]
.table-container.pad-left-30.margin-top-40
  .smaller.margin-bottom-10.red= "No matching HealthPAL account found for #{missing_app_pts.count} participants: #{missing_app_pts.map{|p| p.pt_id}.join(', ')} " if missing_app_pts.any?
  %table
    %tbody
      %tr
        %td.text-right Participants in intevervention group
        %td 3
      %tr
        %td.text-right Participants with no logins
        %td 3
      %tr
        %td.text-right Participants with no clicks on play/pause
        %td 3
  .margin-bottom-20
  %table
    %thead
      %tr.header-row
        %th Date of recroding
        %th Login count
        %th Clicks on play/pause
    %tbody
      - @report.app_use[:pts].each do |pt|
        - app_pt = @report.app_pts.find{|_pt| _pt.redcap_id == pt.pt_id}
        - user = app_pt.user
        - recordings = user&.recordings
        %tr
          %td= "#{user&.id} #{pt.pt_id}"