- d = @report.demographics
- d_missing = @report.demographics_missing
.table-container.pad-left-30.margin-top-40
  .smaller.margin-bottom-10.red= "Missing demographics for #{d_missing.count} participants: #{d_missing.map{|p| p.pt_id}.join(', ')} "
  %table
    %thead
      %tr.header-row
        %th.text-center{colspan: 2} Characteristics
        %th N (%)
        %th Intervention
        %th Usual Care
    %tbody
      %tr.table-row
        %td.shaded.text-right{colspan: 2} Total Enrolled
        %td= d[:enrolled][:n]
        %td= d[:enrolled][:intervention]
        %td= d[:enrolled][:usual_care]
      %tr
        %td.shaded{rowspan: 3} Gender
        %td Male
        %td= d[:gender][:male][:n]
        %td= d[:gender][:male][:intervention]
        %td= d[:gender][:male][:usual_care]
      %tr
        %td Female
        %td= d[:gender][:female][:n]
        %td= d[:gender][:female][:intervention]
        %td= d[:gender][:female][:usual_care]
      %tr
        %td Other
        %td= d[:gender][:other][:n]
        %td= d[:gender][:other][:intervention]
        %td= d[:gender][:other][:usual_care]
      %tr.light-header-row
        %td
        %td
        %td
        %td
        %td
      %tr
        %td.shaded{rowspan: 3} Ethnicity
        %td Hispanic or Latino
        %td 
        %td 
        %td 
      %tr
        %td Not Hispanic or Latino
        %td 
        %td 
        %td 
      %tr
        %td Unknown or not reported
        %td 
        %td 
        %td 
      %tr.light-header-row
        %td
        %td
        %td
        %td
        %td
      %tr
        %td.shaded{rowspan: 7} Race
        %td American Indian / Alaska Native
        %td 
        %td 
        %td 
      %tr
        %td Asian
        %td 
        %td 
        %td 
      %tr
        %td Black or African American
        %td 
        %td 
        %td 
      %tr
        %td Native Hawaiian or other Pacific Islander 
        %td 
        %td 
        %td 
      %tr
        %td White
        %td 
        %td 
        %td 
      %tr
        %td More than one race
        %td 
        %td 
        %td 
      %tr
        %td Unknown or not reported 
        %td 
        %td 
        %td 
      %tr.light-header-row
        %td
        %td
        %td
        %td
        %td
      %tr
        %td.shaded{rowspan: 5} Age
        %td Mean
        %td 
        %td 
        %td 
      %tr
        %td Median
        %td 
        %td 
        %td 
      %tr
        %td Standard deviation 
        %td 
        %td 
        %td 
      %tr
        %td Minimum 
        %td 
        %td 
        %td 
      %tr
        %td Maximum
        %td 
        %td 
        %td 