- d_missing = @report.participants.select{|p| p.enrollment_date.nil?}
.table-container.pad-left-30.margin-top-40
  .smaller.margin-bottom-10.red= "Missing enrollment date for #{d_missing.count} participant#{d_missing.count > 1 ? 's' : ''}: #{d_missing.map{|p| p.pt_id}.join(', ')} " if d_missing.any?
  %table
    %thead
      %tr.header-row
        %th Period
        %th DHMC
        %th UTMB
        %th VUMC
        %th Total
    %tbody
      %tr.table-row
        %td Date First Participant Enrolled
        - @report.sites.each do |site| 
          - participants = @report.participants_by_site[site]
          %td= format_date(DateTime.parse(participants.first.enrollment_date))
        %td
      %tr.table-row
        %td Date Last Participant Enrolled
        - @report.sites.each do |site| 
          - participants = @report.participants_by_site[site]
          %td= format_date(DateTime.parse(participants.reject{|p| p.enrollment_date.nil?}.last.enrollment_date))
        %td
      - report.site_enrollment_by_period.each_pair do |month, counts|
        - total = 0
        %tr.table-row
          %td= month 
          - counts.each_pair do |site, count|
            - total += count
            %td= count
          %td= total
      %tr.table-row
        %td Total (%)
        - @report.sites.each do |site| 
          - site_participants = @report.participants_by_site[site].count
          - percent = (site_participants * 100 / @report.participants.count).round
          %td= "#{site_participants} (#{percent})" 
        %td= @report.participants.count
