#reports-page{"data-recruitment" => @report.recruitment_chart_data}
  #charts
    .chart-container
      %canvas#chart-1
    .chart-container
      %canvas#chart-2
    .chart-container
      %canvas#chart-3
  #tables
    .table-container
      .title.margin-bottom-10 Site Enrollment By Period 
      %table
        %thead
          %tr.header-row
            %th Period
            %th DHMC
            %th UTMB
            %th VUMC
            %th Total
        %tbody
          %tr.table-row
            %td Date First Participant Enrolled
            - @report.sites.each do |site| 
              - enrollments = @report.enrollments_by_site[site]
              %td= format_date(DateTime.parse(enrollments.first.enrollment_date))
            %td
          %tr.table-row
            %td Date Last Participant Enrolled
            - @report.sites.each do |site| 
              - enrollments = @report.enrollments_by_site[site]
              %td= format_date(DateTime.parse(enrollments.last.enrollment_date))
            %td
          - @report.site_enrollment_by_period.each_pair do |month, counts|
            - total = 0
            %tr.table-row
              %td= month 
              - counts.each_pair do |site, count|
                - total += count
                %td= count
              %td= total
          %tr.table-row
            %td Total (%)
            - @report.sites.each do |site| 
              - site_enrollments = @report.enrollments_by_site[site].count
              - percent = (site_enrollments * 100 / @report.enrollments.count).round
              %td= "#{site_enrollments} (#{percent})" 
            %td= @report.enrollments.count
