!!! 5
%html(lang="#{I18n.locale.to_s}")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover")
    %title= app_display_name
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
  %body{class: "#{@hide_navbar ? '' : 'invisible'}", 'data-locale': I18n.locale.to_s}
    - i18n_users = ['will.haslett@gmail.com', 'mcmasel@gmail.com', 'polbarr@gmail.com']
    #toggle-locale= {en: 'Español', es: 'English'}[I18n.locale] if i18n_users.include?(current_user&.email)
    = render 'navbar' unless @hide_navbar
    #content
      = render 'flash'
      = yield
      = javascript_include_tag 'application'
